<mat-table *ngIf="true" #table [dataSource]="dataSource">
  <span *ngFor="let disCol of displayedColumnsHeader; let colIndex = index">
  <ng-container matColumnDef="{{disCol}}">
        <mat-header-cell *matHeaderCellDef>{{disCol.toUpperCase()}}</mat-header-cell>
        <span *ngIf="disCol !== 'select'">
        <mat-cell *matCellDef="let element "> {{element[disCol]}}
        </mat-cell></span>
  <span *ngIf="disCol === 'select'">
        <mat-cell *matCellDef="let row">
            <mat-checkbox (change)="getFormElementByFormIdAndElementIdClickHandler(row)">
            </mat-checkbox>
          </mat-cell></span>
  </ng-container>
  </span>
  <mat-header-row style="position: sticky" *matHeaderRowDef="displayedColumnsHeader"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumnsHeader;"></mat-row>
</mat-table>