<div *ngIf="formDetailData">
    <h2>Form Detail of {{formDetailData?.name}}</h2>
    <!-- <mat-card> -->
      <div><b>ID - </b>{{formDetailData?.id}}</div><br />
      <div><b>Label - </b>{{formDetailData?.label}}</div><br />
      <div><b>Label Icons - </b>{{formDetailData?.label_icons}}</div><br />
      <div><b>Localizations - </b>{{formDetailData?.localizations}}</div><br />
      <div><b>Global Id - </b>{{formDetailData?.global_id}}</div><br />
      <div><b>Created By - </b>{{formDetailData?.created_by}}</div><br />
      <div><b>Created Date </b>{{formDetailData?.created_date}}</div><br />
      <div><b>Description - </b>{{formDetailData?.description}}</div><br />
      <div><b>Icon - </b>{{formDetailData?.icon}}</div><br />
      <div><b>Is Disabled - </b>{{formDetailData?.is_disabled}}</div><br />
      <div><b>Modified Date - </b>{{formDetailData?.modified_date}}</div><br />
      <div><b>Modified By - </b>{{formDetailData?.modified_by}}</div><br />
      <div><b>Name - </b>{{formDetailData?.name}}</div><br />
      <div><b>page Javascript - </b>{{formDetailData?.page_javascript}}</div><br />
      <div><b>Permissions[Collect Modify View] - </b>{{formDetailData?.permissions?.collect}} {{formDetailData?.permissions?.modify}} {{formDetailData?.permissions?.value}}</div><br />
      <div><b>Reference Id 1 - </b>{{formDetailData?.reference_id_1}}</div><br />
      <div><b>Reference Id 2 - </b>{{formDetailData?.reference_id_2}}</div><br />
      <div><b>Reference Id 3 - </b>{{formDetailData?.reference_id_3}}</div><br />
      <div><b>Reference Id 4 - </b>{{formDetailData?.reference_id_4}}</div><br />
      <div><b>Reference Id 5 - </b>{{formDetailData?.reference_id_5}}</div><br />
      <div><b>Sort Order - </b>{{formDetailData?.sort_order}}</div><br />
      <div><b>Version - </b>{{formDetailData?.version}}</div>
      <hr/>
      <h2>Form Element List  <span *ngIf="formDetailData.name"> of {{formDetailData?.name}}</span> </h2>
      <mat-chip-list class="mat-chip-list-stacked" *ngIf="formElementListData && formElementListData.length > 0">
        <mat-chip color="primary" (click)="getFormElementByFormIdAndElementIdClickHandler
          (ele)" *ngFor="let ele of formElementListData" style="width: 25%;float:left">
            {{ele.id}} - {{ele.name}}
        </mat-chip>
      </mat-chip-list>
    <!-- </mat-card> -->
</div>

