<mat-dialog-actions style="display: inline;">
  <div class="row"> 
        <div class="col-width-80">
      <h3>{{title}}</h3>
    </div>
    <div class="col-width-20">
      <div class="mataction">
            <mat-action-row >
          <button mat-raised-button color="primary" mat-dialog-close tabindex="-1">CLOSE [X]</button>
        </mat-action-row>
      </div>
    </div>
  </div>
  <hr/>
</mat-dialog-actions>
<mat-dialog-content>
  <br/>
  <div><b>ID - </b>{{formElementDetailData?.id}}</div><br />
  <div><b>Name - </b>{{formElementDetailData?.name}}</div><br />
  <div><b>Global Id - </b>{{formElementDetailData?.global_id}}</div><br />
  <div><b>Version - </b>{{formElementDetailData?.version}}</div><br />
  <div><b>Label - </b>{{formElementDetailData?.label}}</div><br />
  <div><b>Description - </b>{{formElementDetailData?.description}}</div><br />
  <div><b>Data Type - </b>{{formElementDetailData?.data_type}}</div><br />
  <div><b>Data Size - </b>{{formElementDetailData?.data_size}}</div><br />
  <div><b>Created Date - </b>{{formElementDetailData?.created_date}}</div><br />
  <div><b>Created By - </b>{{formElementDetailData?.created_by}}</div><br />
  <div><b>Modified Date - </b>{{formElementDetailData?.modified_date}}</div><br />
  <div><b>Modified By - </b>{{formElementDetailData?.modified_by}}</div><br />
  <div><b>Widget Type - </b>{{formElementDetailData?.widget_type}}</div><br />
  <div><b>Sort Order - </b>{{formElementDetailData?.sort_order}}</div><br />
  <div><b>Optionlist Id - </b>{{formElementDetailData?.optionlist_id}}</div><br />
  <div><b>Default Value - </b>{{formElementDetailData?.default_value}}</div><br />
  <div><b>Low Value - </b>{{formElementDetailData?.low_value}}</div><br />
  <div><b>High Value - </b>{{formElementDetailData?.high_value}}</div><br />
  <div><b>Dynamic Value - </b>{{formElementDetailData?.dynamic_value}}</div><br />
  <div><b>Is_Required - </b>{{formElementDetailData?.is_required}}</div><br />
  <div><b>Condition Value - </b>{{formElementDetailData?.condition_value}}</div><br />
  <div><b>Client_Validation - </b>{{formElementDetailData?.client_validation}}</div><br />
  <div><b>Is Disabled - </b>{{formElementDetailData?.is_disabled}}</div><br />
  <div><b>Reference Id 1 - </b>{{formElementDetailData?.reference_id_1}}</div><br />
  <div><b>Reference Id 2 - </b>{{formElementDetailData?.reference_id_2}}</div><br />
  <div><b>Reference Id 3 - </b>{{formElementDetailData?.reference_id_3}}</div><br />
  <div><b>Reference Id 4 - </b>{{formElementDetailData?.reference_id_4}}</div><br />
  <div><b>Reference Id 5 - </b>{{formElementDetailData?.reference_id_5}}</div><br />
  <div><b>Attachment Link - </b>{{formElementDetailData?.attachment_link}}</div><br />
  <div><b>Is_Readonly - </b>{{formElementDetailData?.is_readonly}}</div><br />
  <div><b>Validation Message - </b>{{formElementDetailData?.validation_message}}</div><br />
  <div><b>is_action - </b>{{formElementDetailData?.is_action}}</div><br />
  <div><b>smart_tbl_search - </b>{{formElementDetailData?.smart_tbl_search}}</div><br />
  <div><b>smart_tbl_search_col - </b>{{formElementDetailData?.smart_tbl_search_col}}</div><br />
  <div><b>is_encrypt - </b>{{formElementDetailData?.is_encrypt}}</div><br />
  <div><b>is_hide_typing - </b>{{formElementDetailData?.is_hide_typing}}</div><br />
  <div><b>on_change - </b>{{formElementDetailData?.on_change}}</div><br />
  <div><b>keyboard_type - </b>{{formElementDetailData?.keyboard_type}}</div><br />
  <div><b>dynamic_label - </b>{{formElementDetailData?.dynamic_label}}</div><br />
  <div><b>weighted_score - </b>{{formElementDetailData?.weighted_score}}</div><br />
  <div><b>localizations - </b>{{formElementDetailData?.weighted_score}}</div><br />
  <hr/>
</mat-dialog-content>
