/* Structure */
.form-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .form-header {
    min-height: 45px;
    padding: 8px 16px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-column-select {
    overflow: visible;
  }