<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{ title }}</span>
      <span class="example-spacer"></span>
      <span (click)="toggleTokenClickHandler()">Token&nbsp;&nbsp;&nbsp;</span>
      <span (click)="toggleHomeClickHandler()">Home&nbsp;&nbsp;&nbsp;</span>
      <span (click)="toggleUserClickHandler()">Users&nbsp;&nbsp;&nbsp;</span>
      <span (click)="toggleFormClickHandler()">Forms&nbsp;&nbsp;&nbsp;</span>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>
<!-- <div *ngIf="toggleToken">
  <app-token></app-token>
</div>

<div *ngIf="toggleUser">
  <app-user></app-user>
</div>

<div *ngIf="toggleForm">
  <app-form></app-form>
</div> -->

<!-- <div *ngIf="toggleHome">
  <content><app-home></app-home></content>
</div> -->

